@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

body {
    background-color: #222;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container h1 {
    font-size: 10rem;
    font-weight: 600;
    color: #555;
}
